.bg-nav-bar {
  background-image: linear-gradient(to bottom, rgb(var(--v-theme-navbar1)), rgb(var(--v-theme-navbar2))) !important;
}

.card {
  background-image: linear-gradient(to bottom, rgb(var(--v-theme-navbar1)), rgb(var(--v-theme-navbar2))) !important;
}

.table {
  background: rgb(var(--v-theme-table)) !important;
}